{% extends 'base.html.twig' %}

{% block title %}DBZ{% endblock %}

{% block body %}
  
 <h1 class="text-4xl justify-content">Bienvenu!</h1>
<div class="flex justify-content-center" 
<img src="{{ asset('images/local/dragon-ball-z.webp') }}" alt="" class="bg-cover bg-no-repeat bg-center">
</div>

 
{% endblock %}
