{% extends 'base.html.twig' %}

{% block title %}DBZ{% endblock %}

{% block body %}
  
 
<div class="flex justify-content-center" 
<img src="{{ asset('images/local/dragon-ball-z.webp') }}" alt="" class="bg-cover bg-no-repeat bg-center">
</div>

 
{% endblock %}
