<footer class="bg-gray-800 text-white text-center p-4 mb-0">
	<div>© 2024 Nom de la Boutique. Tous droits réservés.</div>
	<div>Suivez-nous sur
		<a href="{{ path('app_index') }}" class="text-blue-400 hover:text-blue-600">Facebook</a>,
		<a href="{{ path('app_index') }}" class="text-blue-400 hover:text-blue-600">Twitter</a>, et
		<a href="{{ path('app_index') }}" class="text-blue-400 hover:text-blue-600">Instagram</a>.
	</div>
</footer>
